<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="JwtSecretKey" value="0d7aa35dc6127a951aceadc575a8d14f" />
		<add key="Environment" value="dev" />
		<add key="ConnectionName.dev" value="LibrarySystemConnection_DEV" />
		<add key="ConnectionName.test" value="LibrarySystemConnection_TEST" />
		<add key="ConnectionName.prod" value="LibrarySystemConnection_PROD" />
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="LibrarySystemConnection_DEV" connectionString="Data Source=localhost;Initial Catalog=LibrarySystem;User ID=sa;Password=Str0ng!Passw0rd123;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="LibrarySystemConnection_TEST" connectionString="Data Source=localhost;Initial Catalog=LibrarySystem;User ID=sa;Password=Str0ng!Passw0rd123;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
		<add name="LibrarySystemConnection_PROD" connectionString="Data Source=localhost;Initial Catalog=LibrarySystem;User ID=sa;Password=Str0ng!Passw0rd123;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
		<webServices>
			<soapExtensionTypes>
				<add type="LibrarySystem.WebApi.Helpers.SoapExceptionHandlerExtension, LibrarySystem.WebApi" priority="1" group="High" />
			</soapExtensionTypes>
		</webServices>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- To avoid disclosing metadata information, set the values below to false before deployment -->
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<protocolMapping>
			<add binding="basicHttpsBinding" scheme="https" />
		</protocolMapping>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<handlers>
			<add name="WebServiceHandler" path="*.asmx" verb="*" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		</handlers>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>
</configuration>
