<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
		<add key="Environment" value="dev" />
		<add key="SoapApiBaseUrl" value="http://librarysystem.com/Services/" />
		<add key="SoapApiTimeOut" value="30" />
		<add key="ConnectionName.dev" value="LibrarySystemConnection_DEV" />
		<add key="ConnectionName.test" value="LibrarySystemConnection_TEST" />
		<add key="ConnectionName.prod" value="LibrarySystemConnection_PROD" />
	</appSettings>
	<system.web>
		<webServices>
			<protocols>
				<add name="HttpSoap"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
	</system.web>
 <connectionStrings>
		<add name="LibrarySystemConnection_DEV"
         connectionString="Data Source=localhost;Initial Catalog=LibrarySystem;User ID=sa;Password=Str0ng!Passw0rd123;TrustServerCertificate=True"
         providerName="System.Data.SqlClient" />

		<add name="LibrarySystemConnection_TEST"
    connectionString="Data Source=localhost;Initial Catalog=LibrarySystem;User ID=sa;Password=Str0ng!Passw0rd123;TrustServerCertificate=True"
    providerName="System.Data.SqlClient" />

		<add name="LibrarySystemConnection_PROD"
    connectionString="Data Source=localhost;Initial Catalog=LibrarySystem;User ID=sa;Password=Str0ng!Passw0rd123;TrustServerCertificate=True"
    providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
 <system.serviceModel>
  <bindings>
   <basicHttpBinding>
    <binding name="AuditSoapServiceSoap" />
    <binding name="AuthSoapServiceSoap" />
    <binding name="BookLoanSoapServiceSoap" />
    <binding name="BookReservationSoapServiceSoap" />
    <binding name="BookSoapServiceSoap" />
    <binding name="CategorySoapServiceSoap" />
    <binding name="LanguageSoapServiceSoap" />
    <binding name="ReportSoapServiceSoap" />
    <binding name="TestSoapServiceSoap" />
    <binding name="UserSoapServiceSoap" />
    <binding name="AuthorSoapServiceSoap" />
   </basicHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://librarysystem.com/Services/BookSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="BookSoapServiceSoap"
    contract="BookService.BookSoapServiceSoap" name="BookSoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/BookReservationSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="BookReservationSoapServiceSoap"
    contract="BookReservationService.BookReservationSoapServiceSoap"
    name="BookReservationSoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/BookLoanSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="BookLoanSoapServiceSoap"
    contract="BookLoanService.BookLoanSoapServiceSoap" name="BookLoanSoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/AuthSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="AuthSoapServiceSoap"
    contract="AuthService.AuthSoapServiceSoap" name="AuthSoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/AuditSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="AuditSoapServiceSoap"
    contract="AuditService.AuditSoapServiceSoap" name="AuditSoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/CategorySoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="CategorySoapServiceSoap"
    contract="CategoryService.CategorySoapServiceSoap" name="CategorySoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/LanguageSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="LanguageSoapServiceSoap"
    contract="LanguageService.LanguageSoapServiceSoap" name="LanguageSoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/ReportSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="ReportSoapServiceSoap"
    contract="ReportService.ReportSoapServiceSoap" name="ReportSoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/TestSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="TestSoapServiceSoap"
    contract="TestService.TestSoapServiceSoap" name="TestSoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/UserSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="UserSoapServiceSoap"
    contract="UserService.UserSoapServiceSoap" name="UserSoapServiceSoap" />
   <endpoint address="http://librarysystem.com/Services/AuthorSoapService.asmx"
    binding="basicHttpBinding" bindingConfiguration="AuthorSoapServiceSoap"
    contract="AuthorService.AuthorSoapServiceSoap" name="AuthorSoapServiceSoap" />
  </client>
 </system.serviceModel>
</configuration>