<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LibrarySystem.DAL.Properties.Settings.librarysystemConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=librarysystem;Persist Security Info=True;User ID=sa;Password=Str0ng!Passw0rd123;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>