<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AuthSoapServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52993/Services/AuthSoapService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AuthSoapServiceSoap"
                contract="LibrarySystemSoapApi.AuthSoapServiceSoap" name="AuthSoapServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>